@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,800;1,900&display=swap');


html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #fafafa;
    padding: 30px;
}
button{
    cursor: pointer;
    background: transparent;
    border: 0;
}
.hidden {
    display: none;
}
.todo-wrapper{
    width:70%;
}
.todo-wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 80%;
}
.list-wrapper ul{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 50px;
}
.list-wrapper ul li{
    margin: 10px;
}
.list-wrapper ul a{
    text-decoration: none;
    color: #999999;
    font-weight: 600;
    transition: .6s;
}
.list-wrapper ul a:hover,
.list-wrapper ul a.active
{
    color: #ffb400;
    margin-left: 15px;
}


li.todo-item {
    background: #fff;
    padding: 20px 10px;
    border-radius: 10px;
    margin: 10px 5px;
    display: flex;
    align-items: center;
    box-shadow: 1px 0px 30px #f6f6f6;
    transition: .6s;
}

li.removed {
    display: none;
}

button {
    margin-left: auto;
}

.todo-wrapper,
.list-wrapper {
    padding: 5px;
}
.todo-wrapper form{
    display: grid;
    grid-template-columns: 5fr 1fr;
    width: 80%;
}
input[type="text"]{
    border: 1px solid rgb(192, 192, 192);
    padding: 10px 7px;
    border-radius: 5px;
    outline: none;
    transition: .6s;
}
input[type="text"]:focus{
    outline: none;
    border-color: #0077ff;
    box-shadow: 1px 0px 30px #dadada;
}
.todo-container{
    display : flex;
    justify-content: space-between;
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
    position: relative;
    visibility: hidden;
    margin: auto 10px;
}
input[type="checkbox"]::before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 2px solid #eee;
    border-radius: 3px;
    visibility: visible;
    transition: .6s;
}
input[type="checkbox"]:checked:before{
    border: 2px solid #0077ff;
}
input.btn{
    border: 0;
    background: cornflowerblue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}
.delete-task svg{
    width: 20px;
    transition: .3s;
}
.delete-task svg:hover{
    transform: rotate(90deg);
}