<html>
  <head>
    <title>Todo App</title>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
    <div class="list-wrapper">
      <ul id="list">
        {% for list in lists %}
        <li>
          <a href="/list/{{ list.id }}">{{ list.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="todo-wrapper">
      <h4>{{ active_list.name }}</h4>
      <form id="form" method="post" action="/todos/create">
        <input type="hidden" name="list_id" id="active_list" value={{ active_list.id }}>
        <input type="text" id="description" name="description" />
        <input type="submit" value="Create" />
      </form>
      <ul id="todos">
        {% for todo in todos %}
        <li>
          <input class="check-completed" data-id="{{ todo.id }}" type="checkbox" {% if todo.completed %} checked {% endif %} />
          {{ todo.description }}
          <button class="delete-task" data-id="{{ todo.id }}">delete</button>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div id="error" class="hidden">Something went wrong!</div>
    <script src="../static/js/main.js"></script>
</body>
</html>